<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Student Information System - Announcements</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="student_homepage.css">

</head>
<body>

<div class="sidebar">
  <div class="user">Bam L. Alonzo</div>
  <ul>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/7655/7655679.png" alt="Announcements Icon"></span> Announcements</li>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/54/54507.png" alt="Grades Icon"></span> Grades</li>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/7676/7676284.png" alt="Schedule Icon"></span> Schedule</li>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/166/166088.png" alt="Enrollment Icon"></span> Enrollment</li>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/3239/3239952.png" alt="Notifications Icon"></span> Notifications</li>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/9327/9327205.png" alt="Messages Icon"></span> Messages</li>
    <li><span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/3033/3033143.png" alt="Profile Icon"></span> Profile</li>
  </ul>
</div>

<div class="main-content">
  <h1>Announcements</h1>
  
  <div class="profile-box">
    <div class="greeting">Hi Bam</div>
    <div class="avatar"></div>
    <button>View Profile</button>
  </div>
  
  <div class="info-cards">
    <div class="card">
      <h3>Events</h3>
      <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/2693/2693507.png" alt="Events Icon"></div>
      <div class="number">0</div>
      <div class="subtext">Upcoming</div>
    </div>
    <div class="card">
      <h3>Viewed</h3>
      <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/9327/9327205.png" alt="Viewed Icon"></div>
      <div class="number">1</div>
    </div>
    <div class="card">
      <h3>Unread</h3>
      <div class="icon"><img src="https://cdn-icons-png.flaticon.com/128/1944/1944250.png" alt="Unread Icon"></div>
      <div class="number">4</div>
    </div>
  </div>
  
  <!-- Content area (announcements list, messages, etc) can go here -->
</div>

</body>
</html>
